@charset "utf-8";

.u-svgDef {
  width: 0;
  height: 0;
  z-index: -1000;
  position: absolute;
  overflow: hidden;

  svg {
    width: inherit;
    height: inherit;
  }
}

[v-cloak] {
  visibility: hidden;
}

.u-blockS {
  @include sizeL {
    display: none;
  }
}
.u-blockL {
  display: none;

  @include sizeL {
    display: block;
  }
}