@charset "utf-8";

.c-loading {
  transition: visibility 0.2s linear,
              opacity 0.2s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  background-color: #fff;
}

.c-loading.is-loaded {
  opacity: 0;
  visibility: hidden;
  transition-delay: 1s;
}
